<!DOCTYPE html>
<html>
  <head>
    <title>翻转课堂（教师）</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/daohang.css" rel="stylesheet"  type="text/css">
	<link href="/static/css/templatemo_style.css" rel="stylesheet" type="text/css">	
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<script src="/static/js/jquery.min.js"></script> 
	<script type="text/javascript" src="/static/js/jedate.js"></script>
	<!-- for-mobile-apps -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
		<script>
		function WhichButton(event)
		{
			<!--alert(event)-->
			var post_data ={
			"name":event,
			};
			
			$.ajax({
			  type : "POST", //要插入数据，所以是POST协议 
			  url : "/test2/", //注意结尾的斜线，否则会出现500错误
			  data : post_data, //JSON数据
			  // data:"name=" + event,
			  success: function(mydata){
				//$('#result').html(mydata["cname"]);
				//document.write("sadsa")
				for (var i=0;i<mydata["pp"][0];i++)
				{
				    var j = i+1;
					var jscname = document.getElementById("jssname"+String(j));
					jscname.value = mydata["pp"][i * 4 + 1];
					var jstime = document.getElementById("jstime"+String(j));
					jstime.value = mydata["pp"][i * 4 + 2];
					var jscontent = document.getElementById("jscontent"+String(j));
					jscontent.value = mydata["pp"][i * 4 + 3];
					var jsratio = document.getElementById("jsratio"+String(j));
					jsratio.value = mydata["pp"][i * 4 + 4];
				}				
				$("input[name='type']").eq(mydata["mytype"]).attr("checked","checked");
			  },
			  // dataType : 'json', //在ie浏览器下我没有加dataTpye结果报错，所以建议加上
			  // contentType : 'application/json',
			});
			
		}
	</script>
 </head>
  
  <body style="background: #dfdfdf;"> 
	<div id = "a">
		<ul>
			<li><a href="/teacher/main/">|返回首页</a></li>
			<li><a href="/logout/">|注销</a></li>
			<li><a href="/teacher/addcourse/">|我要开课</a></li>
			<li><a href="/teacher/coursemanage/">|查看课程</a></li>
			<li><a href="/teacher/addcourse/">上一页</a></li>
		</ul>
	</div>
	<div class="container center-block templatemo-form-list-container-left templatemo-container-left float-lt">
		<h2 style="text-align: center;"><span class="green">模板</span></h2>
		<div class="col-md-12">		
		{% for model in themodels %}		
		<table class="table table-striped table-hover">			
	      <tbody>
		    <tr> <td class="text-center"><button type="button" style="width: 240px;" onclick = "WhichButton({{model.id}});"><a style="width: 220px;" class="btn btn-info"><<{{model.cname}}>></a></button></td></tr>
	      </tbody>
	    </table>
		{% endfor %}
		</div>
	</div>
	<div class="main">
		<div class="agileinfo_main_grid">
			<form action="#" method="post" id="uld">
				{% for i in pp %}
				<table style="width:100%"><tr>
				<h1>环节{{i}}</h1>
				<td style="width:33.33%">
				<div class="styled-input">
					<font color="#FFFFFF">环节名称</font>
					<input id = "jssname{{i}}" type="text" name="sname{{i}}" value="" required=""> 
					<span></span>
				</div> </td>
				<td style="width:33.33%"><div class="styled-input">
					<font color="#FFFFFF">持续时间（分钟）</font>
					<input id = "jstime{{i}}" type="text" name="minute{{i}}" value="" required="">
					<span></span>
				</div></td>
				</tr></table>
				<table style="width:100%"><tr><td>
				<div class="styled-input">
					<font color="#FFFFFF">本环节所占分值比例</font>
					<input id = "jsratio{{i}}" type="text" name="ratio{{i}}" value="" required="">
					<span></span>
				</div></td>
				</table>
				<table style="width:100%"><tr><td>
				<tr><td colspan="3">
				<font color="#FFFFFF">环节介绍</font>
				<div class="styled-input w3_styled_input_textarea">
					<textarea id = "jscontent{{i}}" form="uld" name="introduce_c{{i}}" value="" required=" "></textarea>
					<span></span>
				</div></td></tr>
				</table>
				{% endfor %}
				<input type="submit" value="确认"> 
			</form>
		</div>
	</div>
  </body>
</html>