<!DOCTYPE html>

  <head>
    <title>翻转课堂（教师）</title>
    <meta charset="UTF-8">
	
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/templatemo_style.css" rel="stylesheet"> 
        
	<script src="/static/js/jquery-1.10.2.min.js"></script> 
	<script src="/static/js/templatemo_custom.js"></script>
  </head>
  
  <div class="templatemo_smalltitle">欢迎，{{teacher}} </div>
  <div style="margin-left:auto;margin-right:30px;margin-top:20px;width:35px;background-color:gray;"><a href="/logout/">注销</a></div>
  
  <body>
    <!-- logo start -->
    <div class="logocontainer">
    	<div class="row">
        	<h1><a href="#">翻转课堂</a></h1>
            <div class="clear"></div>
            <div class="templatemo_smalltitle">（测试）</div>
        </div>
    </div>
    <!-- logo end -->    
	
    <div id="menu-container" class="main_menu">
	
    <!-- homepage start -->
    <div class="content homepage" id="menu-1">
  	<div class="container">
          	<div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_mainservice templatemo_botgap">
                	<div class="templatemo_link"><a href="/teacher/coursemanage/">课程管理</a></div>
                	
                </div>
                <div class="templatemo_mainimg"><img src="/static/img/templatemo_home1.jpg" alt="home img 01"></div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img src="/static/img/templatemo_home2.jpg" alt="home img 02"></div>
                <div class="templatemo_mainportfolio">
                      <div class="templatemo_link"><a href="/teacher/grademanage/">成绩管理</a></div>
                	                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                	<div class="templatemo_link"><a href="/teacher/message/">推荐</a></div>
                </div>
                <div class="templatemo_mainimg"><img src="/static/img/templatemo_home3.jpg" alt="home img 03"></div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_mainimg templatemo_botgap templatemo_topgap">
             	   <img src="/static/img/templatemo_home4.jpg" alt="home img 04">
                </div>
                <div class="templatemo_mainabout templatemo_botgap">
                	<div class="templatemo_link"><a href="/teacher/class/">课堂</a></div>
                </div>
                <div class="templatemo_maincontact">
                	<div class="templatemo_link"><a href="/teacher/talk/">留言板</a></div>
                </div>
            </div>
    </div>
    </div>
    <!-- homepage end -->
    </div>
    
    <!-- logo start -->
    <div class="logocontainer">
    	<div class="row">
            <div class="templatemo_footer"> </div>
       </div>
    </div>
    <!-- logo end -->  
   
<!-- templatemo 405 matrix -->
  </body>
</html>