<!DOCTYPE html>
<head>
	<title>找回密码</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/templatemo_style_418.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">找回密码</h1>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" method="post">
				<div class="form-inner">
					<div class="form-group">
						{% if errors %}
							<p class="errornote" style="text-align:center;color:red;">{{errors}}</p>
						{% endif %}
						<div class="col-md-6">		          	
							<label for="username" class="control-label">Username</label>
							<input type="text" class="form-control" id="username" name="user" placeholder="">		            		            		            
						</div>            
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">		          	
			            <label for="username" class="control-label">Email</label>
			            <input type="email" class="form-control" id="email" name="email" placeholder="">		            		            		            
			          </div>              
			        </div>			
			        <div class="form-group">
			          <div class="col-md-6">
			            <label for="password" class="control-label">Password</label>
			            <input type="password" class="form-control" id="password" name="pass" placeholder="">
			          </div>
			          <div class="col-md-6">
			            <label for="password" class="control-label">Confirm Password</label>
			            <input type="password" class="form-control" id="password_confirm" name="re_pass" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <input type="submit" value="提交" class="btn btn-info">
			            <a href="/" class="pull-right">Login</a>
			          </div>
			        </div>	
				</div>				    	
		      </form>		      
		</div>
	</div>
</body>
</html>