<!DOCTYPE HTML>
<html>
	<head>
		<title>翻转课堂</title>	
		<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
		
		<link href="/static/css/theme.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>	
		
        <!--start slider -->
	    <link rel="stylesheet" href="/static/css/fwslider.css" media="all">
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/fwslider.js"></script>
	    <!--end slider -->
	</head>
	
	<body>
       <!----start-images-slider---->
		<div class="images-slider">
			<!-- start slider -->
		    <div id="fwslider">
		        <div class="slider_container">
		            <div class="slide"> 
		                <!-- Slide image -->
		                    <img src="/static/img/banner.jpg" alt=""/>
		                <!-- /Slide image -->
						
		                <!-- Texts container -->
		                <div class="slide_content">
		                    <div class="slide_content_wrap">
		                        <!-- Text title -->
		                        <h4 class="title">翻转课堂</h4>	                      
		                       <h4 class="title">测试</h4>
		                        <!-- /Text description -->
		                        <div class="slide-btns description">	                      
		                        </div>	              		     							
		                        <div class="buttons">
		                        	<button class="btn btn-2 btn-2b" onclick="location.href='/teacher/'">教师登陆</button>
		                        	<button class="btn1 btn-2 btn-2b" onclick="location.href='/student/'">学生登陆</button>
		                        	<div class="clearfix"></div>
		                        </div>
		                    </div>
		                </div>
		                 <!-- /Texts container -->
		            </div>
		        </div>
		    </div>
		    <!--/slider -->
		</div>	
</body>
</html>

